fastapi
jinja2
uvicorn
sqlmodel
psycopg2-binary
asyncpg
aiosqlite
greenlet
passlib[argon2]
python-jose[cryptography]
pydantic[email]
pydantic-settings
pyyaml
python-multipart
alembic
requests
aiocache
sentry-sdk[fastapi]
apscheduler